table {
  border: 3px;
  margin: 10px;
  padding: 2px 3px 2px 3px;
  text-align: left;
  display: inline-block;
}
h2 {
  color: cornsilk;
  background-color: skyblue;
  text-align: center;
}

img {
  border: 2px 3px 2px 3px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
img {
  border: 2px 3px 2px 3px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
table {
  background-color: lightblue;
}
h1 {
  text-align: center;
}
